/*set up background and font color*/
body {
  background-color: #6A8372;
  color: #fff;
}
/*clear the default ul style*/
ul {
  list-style: none;
  padding-left: 0;
}

input:focus,
textarea:focus {
  outline: none;
}

body > section {
  margin-left: 300px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #fff;
}

/*set menu style*/
.header > ul{
  position: absolute;
  top: 50px;
  left: 50px;
  padding: 20px;
  box-shadow: 0 0 2px 1px #fff;
}

.header > ul > li {
  font-size: 23px;
  margin-bottom: 20px;
}

/*clear a link default style*/
.header a:hover,
.header a:visited,
.header a:link,
.header a:active {
  text-decoration: none;
  color: #fff;
}
/*set menu title style*/
.header > h1 {
  position: relative;
  right: 10px;
  text-align: right;
  font-size: 50px;
  font-style: oblique;
}

/*set home part style*/
#home {
  margin-top: -80px;
  margin-right: 200px;
}
/*home part font style*/
#home p {
  font-style: italic;
  line-height: 25px;
}

/*set home part relative position*/
#home > div {
  position: relative;
  padding-left: 10px;
}
/*set the quota style use css3 Pseudo-element*/
#home > div::before,
#home > div::after {
  content: "\"";
  font-size: 30px;
  position: absolute;
}

#home > div::before {
  left: -20px;
  top: -20px;
}

#home > div::after {
  right: 0;
}

/*set from style*/
.row {
  display: flex;
  align-items: center;
  padding: 8px 0;
}
.label {
  text-align: right;
}
.col-15 {
  width: 15%;
}
.col-85 {
  width: 85%;
}
/*form contorls common css*/
input[id="username"],
textarea[id="comment"] {
  margin-left: 20px;
  border-radius: 2px;
  border: none;
  font-size: 20px;
}
/*set username input style*/
input[id="username"] {
  padding: 8px;
  width: 200px;
}
